html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.gpx-export {
  cursor: pointer;
}

.profile-selector-container {
  padding: 6px;
}

.profile-selector {
  width: 100%;
}
