html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.gpx-export, .info-button {
  cursor: pointer;
}

.info-text-container {
  position: fixed;
  top: 10px;
  left: 53px;
  max-width: 50%;
  max-height: 80%;
  overflow: auto;
  padding: 10px;
  z-index: 900;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  background-clip: padding-box;
  background: white;
}

.info-text {
  font: 14px/1.5 "Helvetica Neue", Helvetica, sans-serif;
  padding: 10px;
}

.info-text dl dt {
  font-weight: bold;
}

.info-text button {
  float: right;
}

.info-text-hide {
  display: none;
}

.profile-selector-container {
  padding: 6px;
}

.profile-selector {
  width: 100%;
}

.spinner {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./spinner.gif') no-repeat center center rgba(255,255,255,0.5);
  pointer-events: none;
  vertical-align: middle;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 1s, visibility 0s linear 0s;
}

.clear {
  clear: both;
}

.leaflet-routing-geocoders button {
  z-index: 100;
  float: none !important;
}

.leaflet-routing-alt-gpx-export {
  position: absolute;
  right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.leaflet-routing-alt-gpx-export:hover {
  background-color: #eee;
}

.leaflet-routing-collapse-btn {
  cursor: pointer;
  transition: color 0.2s ease;
}

.leaflet-routing-collapse-btn:hover {
  color: #000;
}

.leaflet-routing-collapse-btn:after {
  content: none;
}

.leaflet-control-container .leaflet-routing-container-hide {
  padding: 0px;
  width: 48px;
  height: 48px;
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
  background-image: none;
  display: block;
  margin: 0px;
  padding: 0px;
  left: 10px;
  top: 6px;
  width: 24px;
  height: 24px;
}

.leaflet-control-layers-list {
  width: 300px;
}
